* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgba(139, 216, 193, 0.788);
}
.pagina {
    margin: auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.header {
    width: 100px;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span.icononutria {
    height: 80%;
    width: 0%;
    align-self: center;
    font-size: 1.4em;
    margin: 10px 2px -15px 8px;
    padding-right: 25px;
}
span.nombrepagina {
    height: 80%;
    width: 0%;
    align-self: flex-start;
    font-size: 1em;
    padding: 20px 10px 2px 10px;
}
span.puntos {
    margin: 8px 15px 0px 320px;
    align-self: center;
    font-size: 1.4em;
}
img {
    width: 100%;
    height: 90%;
}
.botones {
    width: 65%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
span.like {
    height: 90%;
    width: 10%;
    align-self: center;
    font-size: 1.3em;
    margin: 4px 4px 2px 8px;
}
span.coment {
    height: 90%;
    width: 10%;
    align-self: center;
    font-size: 1.3em;
    margin: 4px 4px 2px 8px;
}
span.share {
    height: 90%;
    width: 10%;
    align-self: center;
    font-size: 1.3em;
    margin: 8px 4px 2px 8px;
}
span.save {
    height: 90%;
    width: 10%;
    align-self: center;
    font-size: 1.3em;
    margin: 8px 20px 2px 270px;
}
p {
    align-self: center;
    padding-bottom: 5px;
    padding: 5px;

}
p.hastag {
    color: blue;
    padding-bottom: 20px;
}

